<div class="center hero-unit">
  <h1>Shutter Bug</h1>
  <h2>
    Home Page
    <p>This website allows you to upload pictures. Other users can comment on the pictures.
  </h2>
  <%= image_tag("camera.png", :size => "350x350", :alt => "camera") %>


</div>
